<nav class="bottom-nav">
    <a routerLink="/" routerLinkActive="active">
        <i class="fa-solid fa-house"></i>
        <span>Início
            <fa-icon [icon]="faHome"></fa-icon>
        </span>
    </a>
    <a routerLink="/produtos" routerLinkActive="active">
        <i class="fa-solid fa-store"></i>
        <span>Loja
            <fa-icon [icon]="faCartPlus"></fa-icon>
        </span>
    </a>
    <a routerLink="/buscar" routerLinkActive="active">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Buscar
            <fa-icon [icon]="faSearch"></fa-icon>
        </span>
    </a>
    <a routerLink="/contato" routerLinkActive="active">
        <i class="fa-solid fa-phone"></i>
        <span>Contato
            <fa-icon [icon]="faPhone"></fa-icon>
        </span>
    </a>
</nav>